.main {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 gap: 100px;
 margin-bottom: 100px;

}

.main__title {
 font-size: 50px;
 font-weight: bold;
 margin-bottom: auto;

}

.main__subtitle {
 font-size: 20px;
 color: rgb(90, 86, 86);
 margin-bottom: auto;
 margin-top: auto;
 max-width: 880px;
 text-align: center;
 line-height: 1.5;

}

.main__container {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}

.main__cards {
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: center;
 gap: 100px;
}

.main__scores {
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: center;
 gap: 50px;
 box-shadow: 2px 4px 6px rgba(236, 4, 4, 0.2);
 padding: 10px;
 max-height: 80px;
 font-size: 10px;
 margin: auto;

}

.main__sold {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 color: rgb(243, 163, 88);
 font-size: 10px;
 padding: 10px;
 gap: 8px;




}

.main__sold-middle {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 color: rgb(243, 163, 88);

 padding-left: 20px;
 padding-right: 20px;
 max-height: 100px;
 border-left: 2px solid #e9e2e2;
 border-right: 2px solid #e9e2e2;
 gap: 8px;
 max-height: 50px;
}

.main__sold-title {
 font-size: 35px;
 font-weight: bold;
 margin-bottom: auto;


}

.main__sold-subtitle {

 font-size: 14px;
 font-weight: bold;
 margin: auto;
 color: rgb(90, 86, 86);
 margin-bottom: 50px
}