.header__container {
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: center;
 height: 100vh;
 background: linear-gradient(to right, #f1c73d, #f25c05);
 transition: all 0.3s ease;
 gap: 100px;
}

.header__left {
 justify-content: start;

 max-width: 600px;
}

.header__text {




 max-width: 1200px;
 margin: 0 auto;
 margin-bottom: auto;
}

.header__title {
 margin-top: 125px;
 font-size: 100px;
 font-weight: bold;
 margin-bottom: auto;

}

.header__subtitle {
 font-size: 60px;
 font-weight: bold;
 margin-bottom: auto;
 margin-top: auto;

}

.header__description {
 font-size: 25px;
 max-width: 400px;


}

.header__buttons {
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: center;
 gap: 50px;
 margin-top: 50px;
 text-decoration: none;
}

.header__button {

 display: flex;
 align-items: center;
 justify-content: center;
 width: 250px;
 height: 50px;
 background-color: #f3f0f0;
 color: #f25c05;
 font-weight: bold;
 border: 2px solid rgb(255, 81, 0);
 border-radius: 5px;

 cursor: pointer;
 gap: 10px;
 transition: filter 0.3s ease;
 text-decoration: none;
}

.header__button:hover {
 filter: brightness(85%);
}


.header__image-certification {
 width: 10px;
}

.header__image-button {
 width: 18px;



}

.header__promotion {
 display: flex;

 margin-top: 50px;
 gap: 50px;

}

.header__certification {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 box-shadow: #f25c05 0px 0px 2px 2px;
 border-radius: 10px;
 width: 150px;
 height: 80px;

}

.header__certification img {
 width: 30px;
 max-width: 40px;

 object-fit: cover;
 margin: auto;
 padding-top: 10px;

}

.header__shipping {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 max-width: 800px;
 box-shadow: #f25c05 0px 0px 2px 2px;
 border-radius: 10px;
 width: 150px;
 height: 80px;


}

.header__shipping img {
 width: 20px;
}



.header__image {
 max-width: 400px;
 max-height: 400px;
 border-radius: 35px;
 -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
 -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
 box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
 object-fit: cover;
 transition: transform 0.3s ease;

}

.header__image:hover {
 transform: scale(1.05);
}