.whyus {
 display: grid;
 grid-column-start: 1;
 grid-column-end: 3;
 justify-self: center;
 background: linear-gradient(to right, #f1c73d, #f25c05);
 padding-left: 200px;
 padding-right: 200px;

}

.whyus__container {
 grid-column-start: 1;
 grid-column-end: 3;
 justify-self: center;
 max-width: 880px;

}

.whyus__title {
 font-size: 2.5rem;
 font-weight: bold;
 color: var(--color-primary);
 text-align: center;
 color: azure;
}

.whyus__subtitle {
 font-size: 1.2rem;
 color: var(--color-secondary);
 text-align: center;
 margin-bottom: auto;
 color: azure;

}

.whyus__cards {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 grid-template-rows: 1fr 1fr 1fr;
 gap: 20px;
 grid-column-start: 2;
 grid-column-end: 3;
 justify-self: center;
 justify-content: center;
 align-items: center;
 margin-top: 50px;
 gap: 20px;





}

.whyus__card {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 color: azure;

 border: 2px solid var(--color-primary);
 border-radius: 10px;
 box-shadow: 0 0 10px rgb(248, 246, 246);
 padding: 15px;


}

.whyus__card-title {
 font-size: 1.5rem;
 font-weight: bold;
 color: var(--color-primary);
}

.whyus__card-subtitle {
 font-size: 1rem;
 color: var(--color-secondary);

}